* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  font-family: Montserrat; 
  font-weight: 400;
  list-style: none;
}

.container {
  position: relative;
  width: 1280px;
  height: 1770px;
  margin: 0 auto;
  background: none;
  color: #515076;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.background-image {
  background-image: url("/img/background-flowers.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 790px;
  height: 697px;
  bottom: 1118px;
  left: 85px;
  z-index: -1;
}

.main-title {
  font-size: 70px;
  line-height: 78px;
  margin: 220px 132px 110px 132px;
  text-align: center;
}

.card-container {
  width: 340px;
  height: 573px;
  padding: 25px;
  background-color:#F7F7FA ;
  box-shadow: 2px 2px 10px 0px rgba(81, 80, 118, 0.1);
}

.product-image {
  width: 290px;
  height: 245px;
}

.product-category {
  color: #A5A3B9;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 5px;
  display: block;
}

.product-name {
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
}

.product-descripton {
  font-size: 13px;
  line-height: 18px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.product-compound {
  font-size: 13px;
  line-height: 18px;
  margin-left: 15px;
  margin-bottom: 25px;
  margin-top: 5px;

}

.product-compaund-item {
  margin-top: 5px;
  list-style: circle;
}

.product-price-cost {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
}

.product-price-container {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.product-catalog__button {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}

.button-item {
  width: 200px;
  height: 40px;
  background-color: #515076;
  border: none;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.button-item.bg-red {
  background-color: #FF0000; 
}

#product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 45px;
  z-index: -1;
}

/* сверстать футтер */

.container-footer {
  width: 1728px;
  height: 478px;
  background-color: #3A3A3A;
  color: #FFFFFF;
  display: flex;
  display: inline-block;
  font-size: 18px;
}

.container-product-footer {
  width: 1569px;
  height: 147px;
  margin: 85px;
  display: flex;
}

.container-title {
  width: 409px;
  height: 87px;
}

.footer-title {
  font-size: 28px;
  font-weight: 800;
  font-style: ExtraBold;
  margin-bottom: 16px;
}

.nav {
  max-width: 477px;
  height: 103px;
  margin-bottom: 289px;
}

.subscription-product {
  width: 477px;
  height: 61px;
  display: flex;
  border: 5px solid;
  border-radius: 10px;
  margin-left: 132px;
}    

.email-input {
  border: none;
  padding-left: 36px;
  padding-right: 25px;
  width: 344px;
  outline: none;
  display: block;
}

.email-input::placeholder {
  font-weight: 500;
  font-size: 14px;
  font-style: Medium;
  color: #000000BF;
}

.subscription-button {
  background: #FFFFFF;
  border: none;
  font-weight: 500;
  font-style: Medium;
  cursor: pointer; 
  padding-right: 15px;
  font-size: 18px;
}

.border-left {
  border-left: 1px solid  #000000;
  height: 18px;
  margin-left: 317px;
  margin-top: 17px;
  position: absolute;
}

.name {
  width: 350px;
  height: 29px;
  font-style: Regular;
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 13px;
  display: block;
  margin-left: 220px;
}

.container-links {
  width: 147px;
  height: 178px;
  margin-left: 1391px;
  position: absolute;
}

.link-title {
  width: 178px;
  font-size: 20px;
  font-weight: 500;
  font-style: Medium;
  display: block;
  margin-bottom: 23px;
}

.fast-link {
  all: unset;
  font-style: Regular;
  margin-top: 17px;
  display: block;
  cursor: pointer;
}

.icon-tg {
  width: 21px;
  height: 18px;
  position: absolute;
  margin-left: 1px;
  margin-top: 129px;
}

.icon-vk {
  width: 24px;
  height: 14px;
  position: absolute;
  margin-left: 51.5px;
  margin-top: 131px;
}

.address-product-link {
  display: flex;
  justify-content: center;
  width: 376px;
  height: 22px;
  margin-right: 661px;
  margin-top: 300px;
}

.hr-line {
  width: 66px;
  margin-top: 162px;
  margin-bottom: 33px;
  margin-left: 48%;
}

.product-link {
  all: unset;
  width: 376px;
  height: 22px;
  margin-left: 676px;
  cursor: pointer;
}

/* форма регистрации */

.registration-form {
  background-color: #3A3A3A;
  width: 400px;
  height: 700px;
  font-size: 27px;
  display: flex;
  flex-wrap: wrap;
}

.input-field {
  width: 320px;
  height: 35px;
  display: flex;
  border: 1px solid;
  border-radius: 10px;
}

.user-data {
  color: #FFFFFF;
  margin-left: 5%;
  height: 90px;
}

.registration-btn {
  background: #FFFFFF;
  border: none;
  font-weight: 500;
  font-style: Medium;
  cursor: pointer; 
  padding-right: 15px;
  font-size: 18px;
  margin-left: 20%;
}

/*  модальное окно*/

.modal {
  display: none;
  background-color: #3A3A3A;
  width: 400px;
  height: 350px;
  top: 30%;
  position: fixed;
  z-index: 2;
}

#modal-id.close {
  display: none;
}

#modal-id.modal-showed{
  display: block;
}

.error-message {
  color: #FF0000;
  margin: 10px;
  display: none;
} 

.btn-close-window {
  width: 50px;
  height: 50px;
  font-weight: 600;
  font-size: 30px;
  background: none;
  position: absolute;
  cursor: pointer; 
  color: #FFFFFF;
  border: none;
  margin-left: 88%;
}

#overlay.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.data-authorization {
  color: #FFFFFF;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 18px;
  display: block;
}

.input-authorization {
  width: 320px;
  height: 35px;
  display: flex;
  border: 1px solid;
  border-radius: 10px;
  outline: none;
}

.title-authorization {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 25px;
  margin-left: 25%;
  margin-top: 10px;
  display: block;
}

.btn-authorization {
  background: #515076;
  color: #FFFFFF;
  width: 200px;
  margin-left: 25%;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-style: Medium;
  cursor: pointer; 
  font-size: 26px;
  margin-top: 50px;
}